.home-container {
  text-align: center;
  padding: 2rem;
  
  
}
body{
   
    background-size: cover;   /* que ocupe toda la pantalla */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* asegura que siempre cubra */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 2rem;
  align-items: start;
}

.card {
  display: flex;
  width: 150px;
  height: 220px;
  cursor: pointer;
  transition: transform 0.2s;
  justify-content: center;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

