@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Crimson+Pro:wght@400;600&display=swap');

.home-container {
    text-align: center;
    padding: 2rem;
}

body {
    background-image: url(../assets/fondo5.jpg);
    background-size: cover;
    margin: 0;
  padding: 0;
  overflow-x: hidden; 
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Cinzel', serif;
    color: gold;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 2rem;
    align-items: start;
}

.card {
    display: flex;
    width: 150px;
    height: 220px;
    cursor: pointer;
    transition: transform 0.2s;
    justify-content: center;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

h1 {
    color:gold;
    border-color: black;
}