.header {
  width: 100%;
  min-height: 200px;               
  display: flex;
  justify-content: center;         
  text-align: center;             
  background: transparent;
  background-position: center;
  padding: 20px;
  min-height: 150px; 
}

header h1 {
  color: #ffd700; 
  font-family: 'Cinzel', serif;
  font-size: 32px;
  text-shadow: 0 0 10px #800080;
}


@media (max-width: 768px) {
  .header {
    padding: 15px;
    min-height: 150px;
  }

  .header-text h1 {
    font-size: 22px;  
    line-height: 1.3; 
  }
}

@media (max-width: 480px) {
  .header-text h1 {
    font-size: 18px; 
  }
}